header{
    background: #ededed;
    padding: 15px;
    text-align: center;
}
header img.main_logo{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    height: auto;
    margin: 0;
}
header .logo{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

header .logo h1{
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
header .logo h1 a{
    color: #444;
}
header ul.carT{
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    transform: translateY(12px);
}
header ul.carT li{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}
header ul a{
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
header ul a i{
    margin-right: 0 5px;
}
ul.dp-box li .avatar{
    cursor: pointer;
}
header ul.dp-box li img {
    width: 50px;
    height: 50px;
    display: inline-block;
    object-fit: cover;
    transform: translateY(-12px);
    position: absolute;
    top: 0;
    left: -15%;
    border-radius: 50%;
}
ul.dp-box{
    float: right;
    padding: 0;
    margin: 0;
    transform: translateY(12px);
    width: 200px;
}

.dropNav{
    position: relative;
    padding: 0px;
    width: 100%;
}
.dropNav .dropDown {
    position: absolute;
    background: #444;
    width: 100%;
    top: 100%;
    right: 5%;
    padding: 5px;
    display: none;
    transition: all ease-in-out 0.3s;
    z-index: 3;
}
.dropNav .dropDown li a{
    display: block;
    padding: 5px 5px;
    color: #fff;
}
.dropNav .dropDown li a:hover,
.dropNav .dropDown li a:focus{
    background: #fff;
    color: #444;
}
.dropNav:hover .dropDown {
    display: block;
    transition: all ease-in-out 0.3s;
}

/* Media Query for responsive for header */
@media screen and (max-width: 480px) {
    header{
        padding: 5px;
    }
    header ul.carT{
        font-size: 12px;
    }
    header .logo {
        width: 25%;
        transform: translate(6px, 1px);
    }
    header img.main_logo {
        width: 100%;
    }
    ul.dp-box {
        float: right;
        width: 30%;
        font-size: 12px;
    }
    header ul.dp-box li img {
        width: 30px;
        height: 30px;
        transform: translateY(-7px);
        top: 0px;
        right: 15%;
        left: auto;
        color: transparent;
    }
    header ul a.avatar {
        letter-spacing: 0;
        color: transparent;
    }
    .dropNav .dropDown {
        top: 145%;
    }
  }