.errMsg{
    background: rgba(214, 10, 10 ,1);
    color: #fff;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
}
.successMsg{
    background: rgba(9, 158, 54 ,1);
    color: #fff;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
}

/* Media Query for responsive for Notification */
@media screen and (max-width: 480px) {
    .successMsg,
    .errMsg {
        padding: 5px;
        letter-spacing: 0px;
        font-size: 12px;
    }
}